.container {
	text-align: center;
	max-width: 950px;
	margin: 0
		auto;

	width: 300px;
	height: 400px;
	background-image: url('../public/calc_fon.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.button {
	position: absolute; /* Размещение кнопок поверх */
	width: 38px; /* Подгони под размер кнопок */
	height: 38px;
	background-color: rgba(
		255,
		255,
		255,
		0.299
	); /* Временно, чтобы видеть */
	border: 1px
		solid
		black;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	top: 340px;
	left: 30px;
}

.button:hover {
	/*background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);*/
}

.button:disabled {
	/*background-color: var(--disabled-color);*/
}
