@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.container {
	text-align: center;
	max-width: 950px;
	margin: 0
		auto;

	width: 300px;
	height: 400px;
	background-image: url('../public/calc_fon.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.button {
	position: absolute;
	width: 37px;
	height: 37px;
	background-color: transparent;
	color: transparent;
	/*background-color: rgba(
		255,
		255,
		255,
		0.299
	); */ /* Временно, чтобы видеть */

	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.screen {
	position: absolute;
	width: 235px;
	height: 55px;
	font-family:
		'Orbitron',
		monospace;

	/*background-color: rgba(
		60,
		60,
		60,
		0.8
	); */ /* Темно-серый с полупрозрачностью */
	background-color: rgba(
		90,
		45,
		15,
		0.8
	); /* Коричневый с полупрозрачностью */

	font-size: 24px; /* Размер шрифта */
	line-height: 55px; /* Высота строки равна высоте контейнера */
	text-align: right; /* Текст справа, как на калькуляторах */
	color: rgb(
		50,
		50,
		50
	);
	padding-right: 10px; /* Отступ справа для лучшего визуального восприятия */
	box-sizing: border-box; /* Учитываем padding в размерах */
	overflow: hidden; /* Обрезаем текст, если он не помещается */
	border-radius: 5px; /* Легкое скругление углов */

	/*background-color: rgba(
		255,
		255,
		255,
		0.299
	);*/ /* Временно для тестов, чтобы видеть */
}
